.container {
    background: linear-gradient(to bottom, #333, #000);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 2.5%;
    width: 50%;
}

.paragraph {
    font-size: 40px;
    color: #bfddf3;
}

h1.paragraph {
    font-size: 50px;
}

.special.paragraph {
    color: #d87093;
}

.strong {
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* Tratativa de Imagens para Desktop */
@media only screen and (min-width: 769px) {
    .relative {
        position: relative;
    }

    .gabs-img-left {
        position: absolute;
        width: 40%;
        left: -45%;
    }

    .gabs-img-right {
        position: absolute;
        width: 40%;
        right: -45%;
    }

    .gabs-img-center {
        width: 100%;
    }

    #hackerman-img {
        top: 100px;
    }

    #congratulations-img {
        top: -75px;
    }

    #panic-img {
        top: 200px;
    }

    #pumpkin-img {
        top: 150px;
    }

    #zacchini-img {
        top: -100px;
    }

    #polaroid-img {
        top: 25px;
    }

    #autism-img {
        top: -25px;
    }

    #mt-img {
        top: 250px;
    }

    #aroace-img {
        top: 500px;
    }

    #hug-img {
        top: 50px;
    }

    #oli-ali-img {
        top: -10px;
    }
}

@media only screen and (max-width: 769px) {

    .paragraph {
        font-size: 18px;
    }

    h1.paragraph {
        font-size: 38px;
    }

    .box {
        padding: 2.5%;
        width: 75%;
    }
}